<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-nav">
        <h2 class="main-title">Upload CSV File</h2>
        <hr>
    </div>
    
    <div class="container">
        {% csrf_token %} 
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="intake_year">Intake Year:</label>
            <select id="intake_year" name="intake_year">
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        
            <label for="intake_month">Intake Month:</label>
            <select id="intake_month" name="intake_month">
                <option value="January">January</option>
                <option value="May">May</option>
                <option value="September">September</option>
            </select>
        
            <label for="program">Program:</label>
            <select id="program" name="program">
                <option value="Computer Science">Computer Science</option>
                <option value="Software Engineering">Software Engineering</option>
                <option value="Data Science">Data Science</option>
            </select>
        
            <label for="timetable">Upload CSV:</label>
            <input type="file" id="timetable" name="timetable" accept=".csv" required>
        
            <button type="submit">Generate Timetable</button>
        </form>
    </div>
    
    <div class="container">
        <h2>Generated Timetable</h2>
         <table class="timetable" id="timetableOutput">
            <tr class="first-row">
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr><th>8:00AM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>9:00AM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>10:00AM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>11:00AM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>12:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>1:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>2:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>3:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>4:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>5:00PM</th><td></td><td></td><td></td><td></td><td></td></tr>
         </table>
    </div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
