<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Timetable management </h1>
    <p>Please temprorary click  <a href="{% url 'generator_function' %}">this</a> to timetable generate</p>
    <p>Please temprorary click  <a href="{% url 'lecturer_timetable_check' %}">this</a> to see lecturer timetable </p>
</body>
</html>